.showCard {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
}

.showCard-hidden {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.showCard:hover {
  .showCard-hidden {
    opacity: 1;
    transition: all 0.2s ease-in-out;
  }
}

.showCard-hidden-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  gap: 5px;
  color: rgba(255, 255, 255, 1);
}

.showCard-hidden-img {
  max-width: 20px;
  max-height: 20px;
  flex: 1 1 20px;
  filter: invert(1);
}

@media screen and (max-width: 768px) {
  .showsCard-hidden-text {
    font-size: 10px;
  }

  .showCard-hidden-img {
    max-width: 12px;
    max-height: 12px;
    flex: 1 1 12px;
  }
}
