.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 15;
}

.header__line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
}

.header__logo {
  color: rgba(229, 9, 20, 1);
}

.header__logo-img {
  max-width: 190px;
  max-height: 190px;
}

.header__button {
  padding: 2px 10px;
  border-radius: 5px;
}

.header__usertools {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__user-language-options {
  border: rgba(255, 255, 255, 0.08) solid 1px;
  color: rgba(255, 255, 255, 1);
  padding: 5px 0 5px 10px;
}

.header__button:hover,
.header__user-language-options:hover {
  cursor: pointer;
  opacity: 0.8;
  transition: all ease-in-out 0.3s;
}

.header__user-language-option {
  color: rgba(0, 0, 0, 1);
}

@media screen and (max-width: 975px) {
  .header__logo-img {
    max-width: 150px;
    max-height: 150px;
  }
}

@media screen and (max-width: 768px) {
  .header__logo-img {
    max-width: 110px;
    max-height: 110px;
  }

  .header__user-language-options {
    font-size: 10px;
  }

  .header__button {
    font-size: 13px;
    padding: 2px 6px;
  }
}