.footer {
  padding: 40px 0 5px 0;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 1);
}

.footer__logo-holder,
.footer__navigation,
.footer__copyright {
  text-align: center;
  margin-bottom: 20px;
}

.footer__logo {
  max-width: 250px;
  max-height: 200px;
}

.footer__copyright {
  font-size: 12px;
  opacity: 0.6;
}

.footer__navigation-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.footer__navigation-link {
  color: rgba(255, 255, 255, 1);
  font-size: 13px;
}

.footer__navigation-link:hover {
  opacity: 0.4;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 20px 0 5px 0;
  }

  .footer__logo {
    max-width: 130px;
    max-height: 100px;
  }

  .footer__navigation-link {
    font-size: 12px;
  }

  .footer__copyright {
    font-size: 9px;
  }
}
